<configuration>
	<ifpc>
		<ifpcdir>\\sapckb638.ds.kb.cz\IFPCShare\InformaticaServer\</ifpcdir>
		<ifpcdomain>DomainIFPCD</ifpcdomain>
		<ifpcrepository>RepositoryIFPCD</ifpcrepository>
		<ifpcservice>ISUD_G</ifpcservice>
		<ifpcuser>
			<domain>DS</domain>
			<username>e_ttinte</username>
			<password>kbOsum1930755$</password>
		</ifpcuser>
	</ifpc>
	<teradata>
		<tdurl>tdtest.kb.cz</tdurl>
		<tdusermaint>
			<username>e_ttinte</username>
			<password>kbOsum1930755$</password>
			<logmech>LDAP</logmech>
		</tdusermaint>
		<tdusertrf>
			<username>e_ttinte</username>
			<password>kbOsum1930755$</password>
			<logmech>LDAP</logmech>
		</tdusertrf>
	</teradata>
</configuration>