<entry key="deleteRows">
    <bean parent="DeleteDataOperation">
        <property name="actionDefinition">
            <bean parent="SqlAction">
                <property name="sqlCommand">
                    <value>
                        <![CDATA[
::updateLogTableToD::

::updateLogTableToSingleLogD::
                                            
::deleteOrigTable::
                        ]]>
                    </value>
                </property>
            </bean>
        </property>
    </bean>
</entry>